.menu {
	font-weight: bold;
	color: white;
	background-color: #45015d;
	border-radius: 15px;
	padding: 10px 20px;
	position: fixed;
	top: 0;
	left: 0;
	height: 84%;
}
.menu a {
	width: 100%;
	display: block;
	padding: 8px 16px;
	text-decoration: solid;
	color: inherit;
	box-sizing: border-box;
}
.menu a:hover {
	background-color: white;
	color: black;
}
.main h1 {
	font-weight: 400px;
	font-size: 64px;
}
.main {
	margin-left: 360px;
	margin-right: 40px;
	margin-top: 80px;
}
body {
	margin: 0;
	font-family: "poppins", sans-serif;
	font-size: 16px;
	line-height: 1.5;
}
.images img {
	width: 45%;
	border-radius: 10px;
	margin: 5px;
	opacity: 0.7;
}
.images img:hover {
	opacity: 1;
}
h2 {
	color: #45015d;
	font-size: 48px;
	font-weight: 400px;
	margin: 10px 0;
}
hr {
	width: 100%;
	border: 5px solid #45015d;
	border-radius: 4px;
	margin: 20px 0;
}
.member img {
	width: 100%;
	border-radius: 10px;
	filter: grayscale(30%);
}
.member_text {
	background-color: lightgray;
	width: 100%;
	padding: 7px 15px;
	border-radius: 10px;
	box-sizing: border-box;
}
.member {
	display: inline-block;
	margin: 0 5px;
	width: 30%;
}
.member h4 {
	opacity: 0.4;
}
.subscribtion {
	width: 48%;
	padding: 0 8px;
	display: inline-block;
	min-width: 150px;
	text-align: center;
	box-sizing: border-box;
}
.subscribtion ul {
	background-color: #f1f1f1;
	border-radius: 10px;
	margin: 0;
	padding: 0;
}
.subscribtion li {
	list-style-type: none;
	border-bottom: 1px solid #dddddd;
	padding: 16px 0;
}
.subscribtion_name {
	color: white;
	border-radius: 10px;
	font-size: 24px;
	padding: 32px 0 !important;
}
.red {
	background-color: #f44336;
}
.blue {
	background-color: #45015d;
}
.subscribtion button {
	padding: 13px 18px;
	border-radius: 16px;
	outline: none;
	border: none;
}
.red_button {
	background-color: #f44336;
	color: white;
}
.red_button:hover {
	background-color: white;
	color: #f44336;
}
.blue_button {
	background-color: #45015d;
	color: white;
}
.blue_button:hover {
	background-color: white;
	color: #45015d;
}
.price {
	font-size: 30px;
}
input {
	border: 1px solid #ccc;
	width: 100%;
	font-size: 16px;
	padding: 8px;
	margin-bottom: 10px;
	outline: none;
	box-sizing: border-box;
}
form button {
	width: 100%;
	padding: 12px 24px;
	background-color: #45015d;
	border-radius: 10px;
	color: white;
	outline: none;
	border: none;
}
form button:hover {
	background-color: white;
	color: #45015d;
}
.footer {
	background-color: #f1f1f1;
	text-align: right;
	padding: 32px 58px 32px;
}
.footer a {
	color: black;
}
